/*
* @Author: Administrator
* @Date:   2018-08-11 10:00:07
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-14 19:55:41
*/
*{
		padding: 0;
		margin: 0;
		list-style: none;
		box-sizing: border-box;
		font-family:"微软雅黑","苹方";
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}

/* 头部开始 */
header{
    width: 100%;
    height: 0.88rem;
    background: #00b7ee;
    display: flex;
    justify-content: center;

}
header .content{
	width: 7.2rem;
	height: 100%;
	/* background: blue; */
	display: flex;
	flex-direction: row;
}
header .content .return{
	width: 0.44rem;
	height: 100%;
	/* background: yellow; */
}
header .content .return img{
	width: 0.44rem;
	height: 0.44rem;
	display: block;
	margin-top: 0.25rem;
}
header .content .mi{
	width: calc(100% - 0.44rem);
	height: 100%;
	/* background: red; */
}
header .content .mi img{
	width: 6.61rem;
	height: 0.88rem;
	display: block;
}
header .content .mi P{
	font-size: 0.38rem;
	color: white;
	text-align: center;
	line-height: 0.88rem;
}
header .content .mi h5{
	font-size: 0.38rem;
	color:black;
	text-align: center;
	/* line-height: 0.88rem; */
	margin-bottom: 0.62rem;
}
/* 头部结束 */



/* 中间开始 */
main{
	width: 100%;
	height: 4.48rem;
	background: white;
	display: flex;
	justify-content: center;
}
main .pu{
	width: 6.14rem;
	height: 1.11rem;
	background: #00b7ee;
	margin-top: 0.26rem;
	border-radius: 0.1rem;
	display: flex;
	flex-direction: row;
}
main .pu .tu{
	width: 1.11rem;
	height: 1.11rem;
	/* background: red; */
}
main .pu .tu img{
	width: 0.53rem;
	height: 0.53rem;
	display: block;
	margin: 0 auto;
	margin-top: 0.3rem;
}
main .pu  P{
	font-size: 0.28rem;
	color: white;
	padding-top: 0.25rem;
}
main .pu span{
	font-size: 0.28rem;
	display: block;
	padding-top: 0.55rem;
	margin-left: -1.1rem;
	color: white;
}

main .money{
	width: 100%;
	height: 0.68rem;
	/* background: red; */
	margin-top: 0.43rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
main .money p{
	font-size: 0.38rem;
	line-height: 0.68rem;
	color: #f8b551;
	/* text-align: center; */
}
main .money span{
	font-size: 0.5rem;
	line-height: 0.68rem;
	color: #f8b551;
	/* font-weight: 2; */
}
main .nin{
	width: 100%;
	height: 0.4rem;
	/* background: black; */
	font-size: 0.20rem;
	color: #f8b551;
	text-align: center;
}
main .dian{
	font-weight: none;
	font-size: 0.4rem;
	color: #f8b551;
}
.information{
	width: 100%;
	height: 0.52rem;
	/* background: yellow; */
	margin-top: 0.4rem;
}
.information img{
	width: 4.03rem;
	height: 100%;
	display: block;
	margin: 0 auto;
}
main .finger{
	width: 100%;
	height: 4.08rem;
	/* background: pink; */
	margin-top: 1.68rem;
}
main .finger img{
	width:2.88rem;
	height: 4.08rem;
	display: block;
	margin: 0 auto;
}
/* main .password{
    width: 100%;
    height: 0.91rem;
   
    display: flex;
    justify-content: center;
    border-top: 0.07rem dashed #f8b551;
}
main .password ul{
	width:2.6rem;
	height: 100%;
	background: blsue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
main .password ul li{
	width: 0.35rem;
	height: 100%;
	background: white;
	border: 0.01rem solid black;
	border-bottom: 0.05rem solid #c1c1c1;
} */
/* 中间结束 */


/* 底部开始 */

/* 底部结束 */